.class-for-index {
    background-color: #faf0e6; 
    color: #000080;
    font-family: Lucida Sans Regular;
    text-align: center;
    margin: 20%;
    padding: 10em;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px; 
}
p div {
    font-size: 16px;
}

.class-for-itinerary
h2 {
    font-size: 4rem;
    padding-top: 6em;
}
h3 {
    font-size: 3rem; 
    min-width: container-fluid; 
    padding-left: 15px;
    padding-right: 15px
}
img {
    background-origin: padding-box 2em;  
}