
body {
    background-color: #faf0e6; 
    color: #000080;
    box-sizing: border-box; padding-left: 15em; padding-right: 15em;
}
h1 {
text-underline-offset: auto;
    text-align: center;
    font-size: 36px;
}
h2 {
    text-align: auto;
    font-size: 30px; 
}
p {
    font-family: verdana;
    font-size: 16px;
  }
div img{
    image-rendering: padding-left; 5px;
    border-block: 2px;
}
