.class-for-index
body {
    background-color: #faf0e6; 
    color: #000080;
    font-family: Lucida Sans Regular;
    box-sizing: border-box; padding-left: 15em; padding-right: 15em;
}
h1 {
    font-size: 36px;
    text-align: center;
    text-emphasis: none;
}
h2 {
    font-size: 30px; 
}
p {
    font-size: 16px;
  }
div {
    align-items: float right;
    }  

ul {
    font-size: 24px;
}
li {
    padding-bottom: 4em;
}

.class-for-itinerary
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem; 
    min-width: container-fluid; 
    padding-left: 15px;
    padding-right: 15px
}
img {
    background-image #Dinner-table: -o-linear-gradient(500px);
    padding-block: 10px 10px 10px;
}