/* Define standard variables and values for website */

 body {
    background-color: #faf0e6;
    color: rgb(0,0,255);
    font-family: "Lucida Sans Regular";
    font-size: 100%;
    margin: 20px;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: justify;
