/* Define standard variables and values for website */

 body {
    background-color: #faf0e6;
    color: rgb(0,0,255);
    font-family: "Lucida Sans Regular";
    margin: 30px;
    padding-top: 4em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    text-align: justify;
 
 
