/* Define standard variables and values for website */

 body {
    background-color: #faf0e6;
    color: rgb(0,0,255);
    font-family: "Lucida Sans Regular";
    margin: 30px;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: justify;
 nav {
    in-line block: border-box
    border: solid;
    padding: 15px;
 }
