/* Define standard variables and values for website */

   body {
    background-color: #faf0e6;
    color: navy;
    font-family: Lucida sans-regular;

}
 label input legend {
    font-size: medium;
    padding: 6rem;
}
 img {
    max-height: 70%;
}
