/* Define standard variables and values for website */

   body {
      background-color: #faf0e6;
      color: rgb(0,0,255);
      font-family: "Lucida sans-regular";
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 7%;
}
   nav {
      border: solid;
   }
   div {
      text-align: left;
   }
   form {
      padding-left: 3rem;
   }
   p {
      text-align: justify;
      font-size: 36px;  
}
   label {
      font-size: large;
      padding: 15px;   
} 
   img {
      max-height: 100%;
}
   button {
      border-style: solid;
      max-height: 50px;
   }
