/* Define standard variables and values for website */

   body {
      background-color: #faf0e6;
      color: navy;
      font-family: "Lucida sans-regular";
      text-align: center;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 3em;
}
   p {
      font-size: 3em;  
}
   label {
      font-size: x-large;
      margin: 5em;
      padding: 40em;
} 
   img {
      max-height: 100%;
}
