/* Define standard variables and values for website */
$myBgcolor: faf0e6;
$myColor: navyblue;
$myFont: Lucida, sans-regular;

   body {
    background-color: $myBgcolor;
    color: $myColor;
    font: $myFont;

}
 label input legend {
    font-size: medium;
    padding: 6rem;
}
 img {
    background-image: -moz-linear-gradient(10%); 
    border-block-end: border-fluid; max-height: 75%;
}
